appdirs==1.4.3
asn1crypto==0.24.0
boto==2.49.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
datalad==0.11.4
datalad-osf==0.1.dev0
Deprecated==1.2.5
entrypoints==0.3
fasteners==0.14.1
gitdb2==2.0.5
GitPython==2.1.11
humanize==0.5.1
idna==2.8
iso8601==0.1.12
jeepney==0.4
jsmin==2.2.2
keyring==19.0.1
keyrings.alt==3.1.1
mock==3.0.5
monotonic==1.5
msgpack==0.6.1
patool==1.12
pycparser==2.19
PyGithub==1.43.7
PyJWT==1.7.1
requests==2.21.0
SecretStorage==3.1.1
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
tqdm==4.31.1
urllib3==1.24.3
Whoosh==2.7.4
wrapt==1.11.1
